* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

#head {
    position: fixed;
    background-color: #BE3144;
    width: 100%;
}

#navbar {
    text-align: end;
    padding-top: 20px;
    padding-bottom: 25px;
}

.nav-item {
    margin-right: 25px;
    color: white;
    font-size: 25px;
}

#welcome-section {
    height: 100vh;
    background-color: #222224;
    text-align: center;
}

#welcome-message {
    display: block;
    padding-top: 50vh;
}

#welcome-message h1 {
    font-size: 60px;
    color: #F0F0F0;
}

#welcome-message h2 {
    font-style: italic;
    color: #9E2325;
}

#projects {
    background-color: #44577D;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20vh;
    justify-content: center;
}

#projects h1 {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 15px;
    font-size: 50px;
    color: white;
    text-decoration: underline;
    text-align: center;
}

.project-tile {
    flex: 0 1 29%;
    text-align: center;
    margin: 20px;
    background-color: white;
    font-size: 35px;
    height: 25%;
}

 .project-tile p {
     background-color: #313841;
     padding-top: 15px;
     padding-bottom: 20px;
 }
.project-tile a {
    display: block;
    height: 100%;
    color: rgb(240, 240, 240);
}

.project-tile img {
    height: 15vh;
}

#info {
    height: 90vh;
    background-color: #313841;
    text-align: center;
}

#info-message {
    display: block;
    padding-top: 40vh;
}

#info-message h1 {
    font-size: 60px;
    color: #F0F0F0;
}

#info-message h6 {
    font-size: 18px;
    color: #F0F0F0;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 30px;
}

#info-links {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 33%;
    justify-content: center;
}

#info-links a {
    display: flex;
    height: 100%;
    color: rgb(240, 240, 240);
    margin-right: 30px;
    font-size: 22px;
}

#info-links a p {
    margin-left: 5px;
}

#info-links img {
    width: 2vh;
}

@media(max-width: 700px)
{
    #projects {
        flex-direction: column;
    }
}